.WhatsNew {
    width: 100%;
    background-color: rgb(234, 234, 234);
}

.WhatsNew-Content {
    width: 100%;
    
}

.WhatsNew-TextSection {
    width: 45%;
    
    .WhatsNew-Title {
        font-size: 22px;
        color:#191919;
        font-weight: 800;
    }
}